html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

/* Navbar styles & overrides */
.navbar--home {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
	.navbar--home {
		display: none;1
	}
}

.navbar-menu--top {
	flex-basis: 100%;
	border-bottom: 1px solid #d5d6d6;
}

.navbar-menu--top .navbar-item {
	border-right: 1px solid #d5d6d6;
	flex-basis: 60%;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 14px;
	text-transform: uppercase;
	justify-content: center;
	height: 46px;
}

.navbar-menu--hero {
	align-items: center;
	height: 72px;
}

.navbar-brand--hero {
	align-items: center;
	cursor: pointer;
}

.navbar-brand-copy {
	font-size: 26px;
	letter-spacing: 1px;
	color: black;
}

.navbar-start--hero {
	flex-basis: 100%;
	justify-content: center;
}

.navbar-start--hero .navbar-item {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-end--hero {
	flex-basis: 13%;
}

/* Mobile nav */
.navbar--mobile {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.navbar--mobile {
		display: flex;
	}
}

.navbar--mobile .navbar-menu {
	box-shadow: none;
}

.navbar--mobile .navbar-end {
	align-items: center;
}

.navbar-brand--mobile {
	align-items: center;
	cursor: pointer;
}

.navbar__hamburger {
	position: absolute;
	right: 10px;
	top: 14px;
	z-index: 40;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.75);
}

.navbar__hamburger .line {
	height: 7px;
	background: #444;
	margin: 5px auto;
	backface-visibility: hidden;
}

.navbar__hamburger.active #one {
	transform: rotate(45deg) translateX(6px) translateY(6px);
}

.navbar__hamburger.active #two {
	opacity: 0;
}

.navbar__hamburger.active #three {
	transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

@media only screen and (max-width: 1024px) {
	.navbar__hamburger {
	  visibility: visible;
	  opacity: 1;
	}
}

.mobile-menu {
	z-index: 30;
	position: absolute;
	top: 0px;
	background: white;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-out;
	display: flex;
	flex-direction: column;
}

.mobile-menu .mobile-menu__items {
	height: 50px;
	display: block;
}

.mobile-menu .mobile-menu__items li {
	display: block;
	text-align: center;
	padding: 20px 0;
	text-align: center;
	font-size: 24px;
	min-height: 35px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid #d5d6d6;
	background-color: white;
}

.mobile-menu .mobile-menu__items li:hover {
	background: #cfcece;
}

.mobile-menu .mobile-menu__items li:hover a {
	transition: all 0.3s ease-out;
	color: black;
}

.mobile-menu .mobile-menu__items li a {
	color: #212121;
}

.mobile-menu.active {
	visibility: visible;
	opacity: 0.99;
}

@media only screen and (min-width: 1024px) {
	.mobile-menu {
		visibility: hidden !important;
	}
}

/* Hero styles & overrides */
.hero--home {
	background-color: black;
	background-image: url('../img/hero-bg.png');
	background-size: cover;
}

.hero-copy__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hero-copy__title {
	color: white;
	font-size: 72px;
	font-weight: 600;
	animation: fadeInDown;
	animation-duration: 1.5s;
}

@media only screen and (max-width: 1024px) {
	.hero-copy__title {
		font-size: 48px;
	}
}

@media only screen and (max-width: 768px) {
	.hero-copy__title {
		font-size: 24px;
	}
}

.hero-copy__button {
	width: 40%;
	max-width: 392px;
	background-color: #0069d2;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
	border: none;
	color: white;
	text-transform: uppercase;
	transition: box-shadow 0.2s;
}

.hero-copy__button:hover{
	color: white;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.4), 0 0 2px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
	.hero-copy__button {
		width: 100%;
	}
}

.button--sign-up {
	height: 36px;
	box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
	border-radius: 4px;
	background-color: #0069d2;
	border: none;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 16px;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	transition: box-shadow 0.2s;
}

.button--sign-up:hover{
	color: white;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.4), 0 0 2px rgba(0, 0, 0, 0.4);
}

/* Reviews section */
.reviews__container {
	background-color: #f4f5f7;
	padding: 3rem 0rem;
}

.reviews__item-container {
	display: block !important;
	margin: 0 auto;
	max-width: 440px;
	height: 184px;
	box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
	border-radius: 4px;
	background-color: white;
	align-items: center;
}

.reviews__item-contents {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding: 40px;
	text-align: center;
	z-index: -1;
}

.reviews__item-logo {
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.reviews__copy {
		max-width: 70%;
		font-size: 14px;
	}
}

/* Carousel styles & overrides */
.slick-arrow {
	z-index: 10;
}

.slick-arrow:before {
	position: relative;
	font-size: 40px;
	border: 1px solid rgba(244, 245, 247, 0.32);
	color: #000c28;
	text-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
	opacity: 0.8;
}

.slick-prev:before,
.slick-next:before {
	position: relative;
}

.slick-prev:before {
	left: 32px;
}

.slick-next:before {
	right: 64px;
}

.slick-slide {
	min-height: 186px;
}

/* Grid styles */
.grid-card {
	display: flex;
	flex-direction: column;
	height: 280px;
	box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
}

.grid-card__copy-container,
.grid-card__image-section {
	flex-basis: 50%;
}

.grid-card__copy-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 16px;
	background-color:#fff;
}

.grid-card__copy-title-container {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}

.grid-card__copy-title {
	flex-basis: 70%;
}

@media only screen and (min-width: 1024px) and (max-width: 1150px) {
	.grid-card__copy-title {
		font-size: 14px;
	}
}

.grid-card__icon {
	max-height: 28px;
	max-width: 28px;
	background-size: cover;
}

.grid-card__copy-details {
	display: flex;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 12px;
	text-transform: uppercase;
	color: #2e3134;
	height: 12px;
}

.grid-card__copy-details div:nth-child(1) {
	margin-right: 8px;
} 

.grid-card__image-section {
	display: flex;
	justify-content: flex-end;
	background-size: cover;
}

.grid-card__workouts-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	flex-basis: 40%;
	background-color: rgba(0, 12, 40, 0.54);
	height: 100%;
}

.grid-card__workouts-amount {
	font-size: 28px;
}

.grid-card__workouts-copy {
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.grid-card__view-details {
	color: #0069d2;
	letter-spacing: 0.5px;
	line-height: 16px;
	text-transform: uppercase;
	font-size: 14px;
	height: 16px;
	font-weight: 700;
}

.grid-card__time,
.grid-card__miles {
	display: flex;
	align-items: center;
}

.grid-card__time img,
.grid-card__miles img {
	margin-right: 5px;
}

/* TODO: This could be DRYed up using loops provided by a preprocessor, but that's been skipped for time's sake */
.grid-card__image-section--1 {
	background-image: url('../img/grid/grid-img-1.png');
}

.grid-card__image-section--2 {
	background-image: url('../img/grid/grid-img-2.png');
}

.grid-card__image-section--3 {
	background-image: url('../img/grid/grid-img-3.png');
}

.grid-card__image-section--4 {
	background-image: url('../img/grid/grid-img-4.png');
}

.grid-card__image-section--5 {
	background-image: url('../img/grid/grid-img-5.png');
}

.grid-card__image-section--6 {
	background-image: url('../img/grid/grid-img-6.png');
}

.grid-card__image-section--7 {
	background-image: url('../img/grid/grid-img-7.png');
}

.grid-card__image-section--8 {
	background-image: url('../img/grid/grid-img-8.png');
}

/* Equipment Styles */
.equipment-grid-container {
	opacity: 0;
}

@media only screen and (max-width: 768px) {
	.equipment-grid-container {
		opacity: 1;
	}
}

.equipment__title {
	color: #34383c;
	font-size: 24px;
	letter-spacing: 0.3px;
	line-height: 28px;
	text-align: center;
}

.equipment__grid-card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 330px;
	box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
	border-radius: 4px;
	background-color: #ffffff;
}

.equipment__image {
	max-height: 250px;
	max-width: 175px;
}

.equipment__copy {
	color: #2e3134;
	font-size: 24px;
	letter-spacing: 0.3px;
	line-height: 28px;
	font-weight: 700;
}

/* Footer styles & overrides */

.footer--home {
	height: 380px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	background-color: #2e3134;
	color: white;
	padding-left: 0;
	padding-right: 0;
}

.footer__copy-container {
	text-align: center;
	cursor: pointer;
}

.footer__copy-container li {
	margin-bottom: 16px;
}

.footer__copy-container li:nth-child(1) {
	font-weight: 700;
}

.footer__copy-container li:hover {
	color: #3273dc
}

@media only screen and (max-width: 768px) {
	.footer__copy-container {
		font-size: 12px;
	}
}

.footer__social-columns {
	border-top: 2px solid #585a5d;
	border-bottom: 2px solid #585a5d;
	height: 72px;
}

.footer__legal-columns {
	margin-top: 24px;
}

.footer__social-container,
.footer__legal-copy-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer__social-container img {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.footer__legal-copy-container {
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 16px;
}

.footer__legal-copy-container p {
	cursor: pointer;
}

.footer__legal-copy-container p:hover {
	color: #3273dc;
}

@media only screen and (max-width: 768px) {
	.footer__legal-copy-container {
		display: flex;
		flex-direction: column;
		font-size: 12px;
	}
}

/* Loader */
.lds-roller {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: black;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
