/* Navbar styles & overrides */
.navbar--home {
	display: flex;
	flex-wrap: wrap;
}

.navbar-menu--top {
	flex-basis: 100%;
}

.navbar-menu--hero {
	align-items: center;
}

.navbar-brand--hero {
	align-items: center;
}

.navbar-start--hero {
	flex-basis: 100%;
	justify-content: center;
}

/* Hero styles & overrides */
.hero--home {
	background-color: black;
	background-image: url('../img/hero-bg.png');
	background-size: cover;
}

.hero-copy__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hero-copy__title {
	color: white;
	font-size: 72px;
}

.hero-copy__button {
	width: 40%;
	max-width: 392px;
	background-color: #0069d2;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
	border: none;
	color: white;
	text-transform: uppercase;
}

/* Reviews section */
.reviews__container {
	background-color: #f4f5f7;
	padding: 3rem 0rem;
}

.reviews__item-container {
	max-width: 440px;
	height: 184px;
	box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
	border-radius: 4px;
	background-color: white;
	align-items: center;
}

.reviews__item-contents {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding: 40px;
	text-align: center;
	z-index: -1;
}

.review__item-logo {
	margin-bottom: 15px;
}

/* Carousel styles & overrides */
.slick-arrow {
	z-index: 10;
}

.slick-arrow:before {
	position: relative;
	font-size: 40px;
	border: 1px solid rgba(244, 245, 247, 0.32);
	color: #000c28;
	text-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
	opacity: 0.8;
}

.slick-prev:before,
.slick-next:before {
	position: relative;
}

.slick-prev:before {
	left: 32px;
}

.slick-next:before {
	right: 64px;
}

/* Grid styles */
.grid-card {
	display: flex;
	flex-direction: column;
	height: 280px;
	box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
	border-radius: 4px;
	background-color: #fff;
}

.grid-card__copy-container,
.grid-card__image-section {
	flex-basis: 50%;
}

.grid-card__copy-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 16px;
	background-color:#fff;
}

.grid-card__copy-title-container {
	display: flex;
	justify-content: space-between;
}

.grid-card__copy-title {
	flex-basis: 70%;
}

.grid-card__icon {
	max-height: 28px;
	max-width: 28px;
	background-size: cover;
}

.grid-card__copy-details {
	display: flex;
	font-size: 10px;
	letter-spacing: 0.3px;
	line-height: 12px;
	text-transform: uppercase;
	color: #2e3134;
}

.grid-card__copy-details div:nth-child(1) {
	margin-right: 8px;
} 

.grid-card__image-section {
	display: flex;
	justify-content: flex-end;
}

.grid-card__workouts-section {
	display: flex;
	flex-basis: 40%;
	background-color: rgba(0, 12, 40, 0.54);
	height: 100%;
}

.grid-card__view-details {
	color: #0069d2;
	letter-spacing: 0.5px;
	line-height: 16px;
	text-transform: uppercase;
	font-size: 14px;
}

/* TODO: This could be DRYed up using loops provided by a preprocessor, but that's been skipped for time's sake */
.grid-card__image-section--1 {
	background-image: url('../img/grid/grid-img-1.png');
}

.grid-card__image-section--2 {
	background-image: url('../img/grid/grid-img-2.png');
}

.grid-card__image-section--3 {
	background-image: url('../img/grid/grid-img-3.png');
}

.grid-card__image-section--4 {
	background-image: url('../img/grid/grid-img-4.png');
}

.grid-card__image-section--5 {
	background-image: url('../img/grid/grid-img-5.png');
}

.grid-card__image-section--6 {
	background-image: url('../img/grid/grid-img-6.png');
}

.grid-card__image-section--7 {
	background-image: url('../img/grid/grid-img-7.png');
}

.grid-card__image-section--8 {
	background-image: url('../img/grid/grid-img-8.png');
}

/* Equipment Styles */
.equipment__title {
	color: #34383c;
	font-size: 24px;
	letter-spacing: 0.3px;
	line-height: 28px;
	text-align: center;
}

.equipment__grid-card {
	display: flex;
	flex-direction: column;
	height: 330px;
	box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
	border-radius: 4px;
	background-color: #ffffff;
}

/* Loader */
.lds-roller {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: black;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
